#project-head {
  margin-top: 40px;
}

#project-box-1,
#project-box-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.langauge-tags {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}

.project-name:hover {
  color: #48c78e;
}
